@tailwind base;
@tailwind components;
@tailwind utilities;




#root {
  max-width: 2000px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  /* background-color: #333; */
  text-align: center;
}
