.dashboard {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}